growth-program/03-phase-0/build-kit/n8n-workflows/empire-routes-complete.json
{
  "name": "Empire Bot — Routes (Resource, How, Call, Community)",
  "nodes": [
    {
      "parameters": {
        "updates": ["callback_query"],
        "additionalFields": {}
      },
      "id": "route-trigger",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [200, 400],
      "webhookId": "routes-webhook"
    },
    {
      "parameters": {
        "jsCode": "// Router: extract callback_data and user info into flat fields\nconst update = $input.first().json;\nlet route = '';\nlet chat_id = '';\nlet first_name = '';\nlet telegram_id = '';\nlet message_id = '';\n\nif (update.callback_query) {\n  route = (update.callback_query.data || '').toLowerCase().trim();\n  chat_id = update.callback_query.message.chat.id;\n  first_name = update.callback_query.from.first_name || '';\n  telegram_id = String(update.callback_query.from.id);\n  message_id = update.callback_query.message.message_id;\n} else if (update.message) {\n  const text = (update.message.text || '').trim().toLowerCase();\n  if (text === '/start') route = 'start';\n  else if (text === '/menu') route = 'menu';\n  else route = 'unknown';\n  chat_id = update.message.chat.id;\n  first_name = update.message.from.first_name || '';\n  telegram_id = String(update.message.from.id);\n  message_id = update.message.message_id;\n}\n\nreturn [{\n  json: {\n    _route: route,\n    chat_id: chat_id,\n    first_name: first_name,\n    telegram_id: telegram_id,\n    message_id: message_id\n  }\n}];"
      },
      "id": "route-code-router",
      "name": "Code Router",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [420, 400]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": { "caseSensitive": false },
                "conditions": [{ "leftValue": "={{ $json._route }}", "rightValue": "resource", "operator": { "type": "string", "operation": "equals" } }]
              },
              "renameOutput": true,
              "outputKey": "Resource"
            },
            {
              "conditions": {
                "options": { "caseSensitive": false },
                "conditions": [{ "leftValue": "={{ $json._route }}", "rightValue": "how", "operator": { "type": "string", "operation": "equals" } }]
              },
              "renameOutput": true,
              "outputKey": "How"
            },
            {
              "conditions": {
                "options": { "caseSensitive": false },
                "conditions": [{ "leftValue": "={{ $json._route }}", "rightValue": "call", "operator": { "type": "string", "operation": "equals" } }]
              },
              "renameOutput": true,
              "outputKey": "Call"
            },
            {
              "conditions": {
                "options": { "caseSensitive": false },
                "conditions": [{ "leftValue": "={{ $json._route }}", "rightValue": "community", "operator": { "type": "string", "operation": "equals" } }]
              },
              "renameOutput": true,
              "outputKey": "Community"
            }
          ]
        },
        "options": { "fallbackOutput": "none" }
      },
      "id": "route-switch",
      "name": "Switch Routes",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [640, 400]
    },
    {
      "parameters": {
        "jsCode": "// RESOURCE route — deliver \"3 American Sounds\" lead magnet\nconst chatId = $('Code Router').first().json.chat_id;\nconst firstName = $('Code Router').first().json.first_name || '';\nconst telegramId = $('Code Router').first().json.telegram_id;\n\n// UPDATE THIS when PDF is uploaded:\nconst RESOURCE_LINK = 'https://empireenglish.online/3sounds';\n\nconst text = `هديتك جاهزة يا ${firstName}! 🎁\\n\\n3 أصوات تخليك تنطق أمريكي أكثر — دليل قصير + 3 مقاطع صوتية تتمرّن معها.\\n\\nحمّلها من هنا 👇\\n${RESOURCE_LINK}\\n\\nجرّب صوت واحد اليوم فقط — النتيجة تفاجئك 🔥`;\n\nconst keyboard = JSON.stringify({\n  inline_keyboard: [\n    [\n      { text: '📚 كيف يعمل Empire', callback_data: 'how' },\n      { text: '📅 احجز مكالمة', callback_data: 'call' }\n    ],\n    [\n      { text: '↩️ القائمة', callback_data: 'menu' }\n    ]\n  ]\n});\n\nreturn [{\n  json: {\n    chat_id: chatId,\n    text: text,\n    reply_markup: keyboard,\n    telegram_id: telegramId,\n    event_type: 'RESOURCE_CLAIMED'\n  }\n}];"
      },
      "id": "route-resource-code",
      "name": "Build Resource Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [880, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $credentials.telegramApi.token }}/sendMessage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"chat_id\": {{ $json.chat_id }},\n  \"text\": {{ JSON.stringify($json.text) }},\n  \"reply_markup\": {{ $json.reply_markup }}\n}",
        "options": {}
      },
      "id": "route-resource-send",
      "name": "Send Resource Message",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1100, 200],
      "credentials": {
        "telegramApi": {
          "id": "REPLACE_WITH_YOUR_TELEGRAM_CREDENTIAL_ID",
          "name": "Telegram API"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": { "__rl": true, "mode": "list", "value": "REPLACE_WITH_YOUR_SHEET_ID" },
        "sheetName": { "__rl": true, "mode": "list", "value": "Events" },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "event_id": "={{ $now.toISO() }}-resource-{{ $json.telegram_id }}",
            "telegram_id": "={{ $json.telegram_id }}",
            "event_type": "RESOURCE_CLAIMED",
            "timestamp": "={{ $now.toISO() }}",
            "meta": "{}"
          }
        },
        "options": {}
      },
      "id": "route-resource-log",
      "name": "Log RESOURCE_CLAIMED",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [1320, 200],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "REPLACE_WITH_YOUR_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// HOW route — explain the system + value ladder\nconst chatId = $('Code Router').first().json.chat_id;\nconst telegramId = $('Code Router').first().json.telegram_id;\n\nconst text = `في Empire، ما نبيعك \"كورس\" — نعطيك نظام تعلّم كامل يمشي معك كل يوم 👇\\n\\n• نطق أمريكي من اليوم الأول\\n• مهام كلام يومية (مو بس نظري — تتكلم فعلاً)\\n• مجتمع يدعمك + متابعة لتقدّمك\\n• مستويات واضحة: ما ترتقي إلا لما تتقن\\n\\n━━━━━━━━━━━━━━━━━━\\n\\nعندنا مسار واضح يبدأ من المجاني:\\n\\n🆓 Recruit (مجاني): تذوّق المستوى صفر + المجتمع + كلمة اليوم\\n⭐ Core (الأساس): النظام اليومي الكامل + المجتمع + المتابعة\\n👑 Citizen: كل ما سبق + مدرّب ذكاء اصطناعي + أولوية في التصحيح\\n🏛️ Founding Citizen (مقاعد محدودة): عضوية دائمة + لقب مؤسس\\n\\nالأسعار نرتّبها لك حسب هدفك في مكالمة قصيرة أو رسالة خاصة — عشان تختار الأنسب لك فعلاً، مو الأغلى.\\n\\n━━━━━━━━━━━━━━━━━━\\n\\nأنصحك تبدأ باختبار المستوى أو تحجز مكالمة قصيرة 👇`;\n\nconst keyboard = JSON.stringify({\n  inline_keyboard: [\n    [\n      { text: '🎯 حدّد مستواي', callback_data: 'quiz' },\n      { text: '📅 احجز مكالمة مجانية', callback_data: 'call' }\n    ],\n    [\n      { text: '🎁 هديتي المجانية', callback_data: 'resource' },\n      { text: '↩️ القائمة', callback_data: 'menu' }\n    ]\n  ]\n});\n\nreturn [{\n  json: {\n    chat_id: chatId,\n    text: text,\n    reply_markup: keyboard,\n    telegram_id: telegramId,\n    event_type: 'OFFER_OPENED'\n  }\n}];"
      },
      "id": "route-how-code",
      "name": "Build How Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [880, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $credentials.telegramApi.token }}/sendMessage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"chat_id\": {{ $json.chat_id }},\n  \"text\": {{ JSON.stringify($json.text) }},\n  \"reply_markup\": {{ $json.reply_markup }}\n}",
        "options": {}
      },
      "id": "route-how-send",
      "name": "Send How Message",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1100, 400]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": { "__rl": true, "mode": "list", "value": "REPLACE_WITH_YOUR_SHEET_ID" },
        "sheetName": { "__rl": true, "mode": "list", "value": "Events" },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "event_id": "={{ $now.toISO() }}-offer-{{ $json.telegram_id }}",
            "telegram_id": "={{ $json.telegram_id }}",
            "event_type": "OFFER_OPENED",
            "timestamp": "={{ $now.toISO() }}",
            "meta": "{}"
          }
        },
        "options": {}
      },
      "id": "route-how-log",
      "name": "Log OFFER_OPENED",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [1320, 400]
    },
    {
      "parameters": {
        "jsCode": "// CALL route — reassure + Cal.com booking link\nconst chatId = $('Code Router').first().json.chat_id;\nconst telegramId = $('Code Router').first().json.telegram_id;\n\nconst CALL_URL = 'https://cal.com/macalempire/empire-english?src=bot&tid=' + telegramId;\n\nconst text = `مكالمة قصيرة (15–20 دقيقة)، بدون ضغط بيع 🙂\\n\\nفي المكالمة:\\n• نحدّد مستواك وهدفك بدقة\\n• نرسم لك خطة واضحة للأسابيع القادمة\\n• تسأل أي شي وتشوف إذا Empire يناسبك\\n\\nاختر وقت يناسبك 👇`;\n\nconst keyboard = JSON.stringify({\n  inline_keyboard: [\n    [\n      { text: '📅 احجز الآن', url: CALL_URL }\n    ],\n    [\n      { text: '↩️ القائمة', callback_data: 'menu' }\n    ]\n  ]\n});\n\nreturn [{\n  json: {\n    chat_id: chatId,\n    text: text,\n    reply_markup: keyboard,\n    telegram_id: telegramId\n  }\n}];"
      },
      "id": "route-call-code",
      "name": "Build Call Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [880, 600]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $credentials.telegramApi.token }}/sendMessage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"chat_id\": {{ $json.chat_id }},\n  \"text\": {{ JSON.stringify($json.text) }},\n  \"reply_markup\": {{ $json.reply_markup }}\n}",
        "options": {}
      },
      "id": "route-call-send",
      "name": "Send Call Message",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1100, 600]
    },
    {
      "parameters": {
        "jsCode": "// COMMUNITY route — deliver invite links\nconst chatId = $('Code Router').first().json.chat_id;\nconst telegramId = $('Code Router').first().json.telegram_id;\n\n// UPDATE THESE with real links:\nconst DISCORD_INVITE = 'https://discord.gg/YOUR_INVITE_HERE';\nconst GROUP_INVITE = 'https://t.me/YOUR_GROUP_HERE';\n\nconst text = `أهلاً فيك في عائلة Empire 🏛\\n\\n• مجتمع Discord (تمارين، صوتيات، فعاليات)\\n• مجموعة النقاش على تيليجرام (أسئلة + كلمة اليوم)\\n\\nادخل، عرّف عن نفسك، وابدأ معنا 💪`;\n\nconst keyboard = JSON.stringify({\n  inline_keyboard: [\n    [\n      { text: '🎮 Discord', url: DISCORD_INVITE },\n      { text: '💬 مجموعة تيليجرام', url: GROUP_INVITE }\n    ],\n    [\n      { text: '↩️ القائمة', callback_data: 'menu' }\n    ]\n  ]\n});\n\nreturn [{\n  json: {\n    chat_id: chatId,\n    text: text,\n    reply_markup: keyboard,\n    telegram_id: telegramId,\n    event_type: 'COMMUNITY_CLICK'\n  }\n}];"
      },
      "id": "route-community-code",
      "name": "Build Community Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [880, 800]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $credentials.telegramApi.token }}/sendMessage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"chat_id\": {{ $json.chat_id }},\n  \"text\": {{ JSON.stringify($json.text) }},\n  \"reply_markup\": {{ $json.reply_markup }}\n}",
        "options": {}
      },
      "id": "route-community-send",
      "name": "Send Community Message",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1100, 800]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": { "__rl": true, "mode": "list", "value": "REPLACE_WITH_YOUR_SHEET_ID" },
        "sheetName": { "__rl": true, "mode": "list", "value": "Events" },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "event_id": "={{ $now.toISO() }}-community-{{ $json.telegram_id }}",
            "telegram_id": "={{ $json.telegram_id }}",
            "event_type": "COMMUNITY_CLICK",
            "timestamp": "={{ $now.toISO() }}",
            "meta": "{}"
          }
        },
        "options": {}
      },
      "id": "route-community-log",
      "name": "Log COMMUNITY_CLICK",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [1320, 800]
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [[{ "node": "Code Router", "type": "main", "index": 0 }]]
    },
    "Code Router": {
      "main": [[{ "node": "Switch Routes", "type": "main", "index": 0 }]]
    },
    "Switch Routes": {
      "main": [
        [{ "node": "Build Resource Message", "type": "main", "index": 0 }],
        [{ "node": "Build How Message", "type": "main", "index": 0 }],
        [{ "node": "Build Call Message", "type": "main", "index": 0 }],
        [{ "node": "Build Community Message", "type": "main", "index": 0 }]
      ]
    },
    "Build Resource Message": {
      "main": [[{ "node": "Send Resource Message", "type": "main", "index": 0 }]]
    },
    "Send Resource Message": {
      "main": [[{ "node": "Log RESOURCE_CLAIMED", "type": "main", "index": 0 }]]
    },
    "Build How Message": {
      "main": [[{ "node": "Send How Message", "type": "main", "index": 0 }]]
    },
    "Send How Message": {
      "main": [[{ "node": "Log OFFER_OPENED", "type": "main", "index": 0 }]]
    },
    "Build Call Message": {
      "main": [[{ "node": "Send Call Message", "type": "main", "index": 0 }]]
    },
    "Build Community Message": {
      "main": [[{ "node": "Send Community Message", "type": "main", "index": 0 }]]
    },
    "Send Community Message": {
      "main": [[{ "node": "Log COMMUNITY_CLICK", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-06-25T10:45:00.000Z",
  "versionId": "1"
}
