growth-program/03-phase-0/build-kit/n8n-workflows/empire-bot-main-v2.json
{
  "name": "Empire Bot — Main v2",
  "nodes": [
    {
      "parameters": {
        "updates": ["message", "callback_query"],
        "additionalFields": {}
      },
      "id": "trigger-1",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [200, 500]
    },
    {
      "parameters": {
        "jsCode": "// ═══════════════════════════════════════════════════\n// EMPIRE BOT — MASTER ROUTER\n// Extracts route + user data into flat fields\n// Switch node matches on $json._route\n// ═══════════════════════════════════════════════════\nconst update = $input.first().json;\nlet route = 'unknown';\nlet chat_id = '';\nlet first_name = '';\nlet telegram_id = '';\nlet username = '';\nlet callback_data = '';\n\nif (update.callback_query) {\n  callback_data = (update.callback_query.data || '').trim();\n  chat_id = update.callback_query.message.chat.id;\n  first_name = update.callback_query.from.first_name || '';\n  telegram_id = String(update.callback_query.from.id);\n  username = update.callback_query.from.username || '';\n\n  // Quiz answers: q1_0, q2_1, etc.\n  if (callback_data.match(/^q\\d+_/)) {\n    route = 'quiz_answer';\n  } else {\n    route = callback_data.toLowerCase();\n  }\n} else if (update.message) {\n  const text = (update.message.text || '').trim();\n  chat_id = update.message.chat.id;\n  first_name = update.message.from.first_name || '';\n  telegram_id = String(update.message.from.id);\n  username = update.message.from.username || '';\n\n  if (text === '/start' || text === '/menu') {\n    route = 'start';\n  } else if (text === '/stop') {\n    route = 'stop';\n  } else {\n    route = 'unknown';\n  }\n}\n\nreturn [{\n  json: {\n    _route: route,\n    chat_id: Number(chat_id),\n    first_name: first_name,\n    telegram_id: telegram_id,\n    username: username,\n    callback_data: callback_data\n  }\n}];"
      },
      "id": "router-1",
      "name": "Code Router",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [420, 500]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            { "conditions": { "options": {"caseSensitive": false}, "conditions": [{"leftValue": "={{ $json._route }}", "rightValue": "start", "operator": {"type": "string", "operation": "equals"}}] }, "renameOutput": true, "outputKey": "Start" },
            { "conditions": { "options": {"caseSensitive": false}, "conditions": [{"leftValue": "={{ $json._route }}", "rightValue": "quiz", "operator": {"type": "string", "operation": "equals"}}] }, "renameOutput": true, "outputKey": "Quiz" },
            { "conditions": { "options": {"caseSensitive": false}, "conditions": [{"leftValue": "={{ $json._route }}", "rightValue": "quiz_answer", "operator": {"type": "string", "operation": "equals"}}] }, "renameOutput": true, "outputKey": "QuizAnswer" },
            { "conditions": { "options": {"caseSensitive": false}, "conditions": [{"leftValue": "={{ $json._route }}", "rightValue": "resource", "operator": {"type": "string", "operation": "equals"}}] }, "renameOutput": true, "outputKey": "Resource" },
            { "conditions": { "options": {"caseSensitive": false}, "conditions": [{"leftValue": "={{ $json._route }}", "rightValue": "how", "operator": {"type": "string", "operation": "equals"}}] }, "renameOutput": true, "outputKey": "How" },
            { "conditions": { "options": {"caseSensitive": false}, "conditions": [{"leftValue": "={{ $json._route }}", "rightValue": "call", "operator": {"type": "string", "operation": "equals"}}] }, "renameOutput": true, "outputKey": "Call" },
            { "conditions": { "options": {"caseSensitive": false}, "conditions": [{"leftValue": "={{ $json._route }}", "rightValue": "community", "operator": {"type": "string", "operation": "equals"}}] }, "renameOutput": true, "outputKey": "Community" },
            { "conditions": { "options": {"caseSensitive": false}, "conditions": [{"leftValue": "={{ $json._route }}", "rightValue": "menu", "operator": {"type": "string", "operation": "equals"}}] }, "renameOutput": true, "outputKey": "Menu" }
          ]
        },
        "options": { "fallbackOutput": "none" }
      },
      "id": "switch-1",
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [640, 500]
    }
  ],
  "connections": {
    "Telegram Trigger": { "main": [[{"node": "Code Router", "type": "main", "index": 0}]] },
    "Code Router": { "main": [[{"node": "Switch", "type": "main", "index": 0}]] }
  },
  "settings": { "executionOrder": "v1" },
  "staticData": null,
  "tags": [],
  "triggerCount": 1
}
